<!DOCTYPE html>
<html class="h-100">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ data.assetpath }}/style.css">
        {{ env('HEAD') | raw }}
    </head>

    <body class="h-100">
        {{ env('PREPEND') | raw }}
        <div class="py-5 text-center text-white h-100 align-items-center d-flex bodybg">
            <div class="container py-5 info">
                <div class="row">
                    <div class="mx-auto col-lg-8 col-md-10">
                        <h1 class="display-3 mb-4">{{ env('REASON') | raw }}</h1>
                        <h2 class="mb-4">{{ env('EXPLAIN') | raw }}</h2>
                        <p class="lead mb-5">{{ env('PARAGRAPH') | raw }}</p>
                        <img src="{{ data.assetpath }}/beinehoch.svg" width="200px"/>
                    </div>
                </div>
            </div>
        </div>
        {{ env('APPEND') | raw }}
    </body>

</html>
